
<%= form_with model: @blog_post do |form| %>
<% if form.object.errors.any? %>
  <div>
    <% form.object.errors.full_messages.each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
<% end %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :content %>
    <%#= form.rich_text_area  :content %>
    <%= form.text_field  :content, :class => "tinymce", :id => "tinymce"%>
  </div>

  <div>
    <%= form.label :published_at %>
    <%= form.datetime_select :published_at, include_blank: true %>
  </div>

  <%= form.submit "submit", id: "btn" %>
  <% end %>
 <script src="https://cdn.tiny.cloud/1/v92pibzxkf90n3jg2kpyhlbmiqa30r84uyg3m64ygqvzkk8q/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
 <script>
   tinymce.init({
     selector: '.tinymce',
     height: 500,
     menubar: false,
     plugins: [
       'advlist autolink lists link image charmap print preview anchor',
       'searchreplace visualblocks code fullscreen',
       'insertdatetime media table paste code help wordcount'
     ],
       toolbar: 'undo redo | formatselect | ' +
       ' bold italic backcolor | alignleft aligncenter ' +
       ' alignright alignjustify | bullist numlist outdent indent | ' +
       ' removeformat | help'
   });
//    $('#btn').click(function (e) {
//     alert("hii")
// // new location
// $("#tinymce").val(tinyMCE.activeEditor.getContent())
// });
   
 </script>

